@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color:black;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    font-family: 'Poppins';
}

h1{
color: white;
font-size: 110px;
text-align: center;
margin-top: 13rem;
}

.feliz
{
  color: white;
  font-size: 110px;
  text-align: center;
  margin-top: 8rem;
}
.countdown-container span{
  text-align: center;
  font-size: 90px;
  padding: 3rem;
}

.timer {
  color: white;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time {
  margin-top: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 10rem;
  color: white;
  background-color: black;
}
